@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
      --color-primary: 256 256 256;
        --color-secondary: 229 229 229;
        --color-tertiary: 0 0 0;
        --color-accent: 251 133 0;
        --color-secondaryAccent: 255 183 3;
        --color-onPrimary: 0 0 0;
        --color-onSecondary: 0 0 0;
        --color-onTertiary: 256 256 256;
        --color-onAccent: 256 256 256;
        --color-onSecondaryAccent: 256 256 256;
      }
      
      @media (prefers-color-scheme: dark) {
        :root {
        --color-primary: 0 0 0;
          --color-secondary: 100 100 100;
          --color-tertiary: 256 256 256;
          --color-onPrimary: 256 256 256;
          --color-onTertiary: 0 0 0 0;
        }
        }
}

